.top{
max-width: 1200px;
width: 100%; 
  margin: auto;
}
.top-bar {
    display: flex;
    justify-content: space-between;
     background-color: #81c408 ;
    border-radius: 50px 15px;
  padding: 10px;
  }
  
  .top-bar .top-left {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .top-bar .top-left .left {
    display: flex;
    gap:5px;
  }
  .top-bar .top-left .left i{
    color: orange;
  }
  .top-bar .top-right {
    padding-right: 10px;
  }
  .head  {
    padding: 20px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #81c408;
  }
  .head-left {
    font-size: 20px;
  }
  .head-middle ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
  .head-right {
    font-size: 2rem;
  }
  .head-right .fa-magnifying-glass{
    border: 2px solid orange;

    border-radius: 25px;
  }
  @media screen and (max-width: 768px)  {
    .head-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    .head-middle ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .hero-header {
    background: linear-gradient(
         rgba(248, 223, 173, 0.1),  
        rgba(248, 223, 173, 0.1)
      ),
      url("hero-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
   
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-top: 5rem;
  }
  .hero-left h4 {
    font-size: 2rem;
    color: red;
    font-weight: 300;
  }
  .hero-left h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #81c408;
  }
  .hero-left .input-group{
    position: relative;
  }
  .hero-left .input-group input{
    padding: 6px;
    border-radius: 20px;
    
  }
  
  .hero-left button {
    position: absolute;
   left: 7rem;
    padding: 6px 6px;
    border:none;
    background-color: #81c408;
    border-radius: 20px;
    font-size: 18px;
    color: e6450095;
  }
  
  .hero-right {
    border-radius: 10px solid white;
     box-shadow: 0 2px 2px 0 rgb(32, 25, 25); 
    background-color: orange;
    
  }